body{

	margin: 0;
	
}
.lay1 {
	background-image: url(imagens/topo.jpg);
	height: 600px;
	background-size: 1300px;
	background-attachment: fixed;
	border-top: solid;
	border width: 20px;
	border-color: transparent;

	
}

.menu nav ul{
	list-style: none;
	background-color: rgb(16, 42, 64);
	height: 55px;
	font-family: sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: right;
	position: relative;
	margin: 0;
}

.menu nav li {
	display: inline-block;
	padding: 20px;
	box-sizing: border-box;
}
.menu nav a{
	text-decoration: none;
	color: rgb(32, 93, 125);
}

.menu nav a:hover{

	color: white;
}

.menu h1 {
	color: white;
	font-family: sans-serif;
	display: inline-block;
	position: absolute;
	top: -10px;
	margin-left: 200px;
}

#letter {
	transform: rotate(-10deg);
	display: inline-block;
	background-color: white;
	width: 20px;
	height: 30px;
	box-sizing: border-box;
	color: black;
	text-align: center;
}

.text_contain h2, #paragraph{
	text-align: center;
	font-family: sans-serif;
	line-height: 30px;
	
}

.text_contain h2 {
	font-size: 36px;
	text-transform: capitalize;
	color: rgb(16, 42, 64);
	padding: 40px 50px 30px;
}
.text_contain #paragraph {
	padding: 1px 50px 0px;
}

.lay2 {
	width: 80%;
	margin: auto;
}

.content_section {
	margin-left: 60px;
	overflow: auto;
	padding: 50px;

}

.card {
	width: 30%;
	float: left;
	box-sizing: border-box;
}

.card-1, .card-2 {
	margin-right: 20px;

}

.card img {
	width: 100%;
}


.card h4{
	font-family:sans-serif;
	color: rgb(84, 84, 84);
   	font-weight: bold;
   	text-transform: uppercase;
   	letter-spacing: 1.5px;
   	margin: 5px;
   	text-align: center;

}

.card p {
	font-family:sans-serif;
	color: rgb(155, 155, 155);
	margin-top: 10px;
	text-align: center;
}

.content_text{
	background-image: url(imagens/bg_detalhe.png);
	background-size: 1080px;
	background-attachment: scroll;
	background-repeat: no-repeat;
	height:500px ;
	background-position: bottom;
	margin: auto;
	padding: 50px;
	box-sizing: border-box;


}

.content_text h2 {
	font-family: sans-serif;
	text-align: left;
	font-size: 46px;
	width: 60%;
	color: white;
}

.content_text p {
	width: 50%;
	color: white;
	font-family: sans-serif;
	font-size: 14px;
	line-height: 20px;

}

.contact{
	font-family: sans-serif;
	text-align: center;
	font-size: 25px;
	line-height: 13px;
	color: rgb(16, 68, 95);
}

.mapa iframe {
	height: 500px;
	width: 100%;
	margin: auto;
}

.content_copy {
	background-color:rgb(16, 68, 95); 
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-family: sans-serif;
	color: white;
	letter-spacing: 2px;
	font-size: 12px;
}